.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.filters {
  width: 50%;
  display: inline-block;
}

.double-histogram {
  width: 75%;
}

.heatmap {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 4px;
  margin-left: 15px;
  transform: translateY(-50%);
}

/* Add an arrow */
.tooltip:after {
  content: "";
  position:absolute;
  border-width: 5px;  /* Arrow width */
  left: -10px;  /* Arrow width * 2 */
  top:50%;
  transform:translateY(-50%);
  border-color: transparent black transparent transparent;
}

.filter {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: lightseagreen;
  flex-grow: 0;
  display: inline-grid;
  /* margin: 1%; */
}

.filter_row {
  display: grid;
  min-width: 100%;
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.two_column {
  grid-template-columns: repeat(2, 1fr);
}

.five_column {
  grid-template-columns: repeat(5, 1fr);
}

.six_column {
  grid-template-columns: repeat(6, 1fr);
}

.seven_column {
  grid-template-columns: repeat(7, 1fr);
}

.eight_column {
  grid-template-columns: repeat(8, 1fr);
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
}

div.radio-filter {
  text-align: left;
}

.filter-descriptor {
  font-size: 2rem;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: left;
}

.spacer {
  min-width: 50px;
}

.double_histogram {
  display: flex;
  justify-content: center;
  width: 100%;
}

.all_displayed_games {
  width:100%;
  margin-bottom: 50px;
}

.featured_games {
  width: 100%;
  height: 50%;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.featured_game {
  width: 50%;
  display: flex;
  background-color: cornflowerblue;
  margin-bottom: 0.25rem;
}

.featured_game_details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}

.featured_game_logo_left,
.featured_game_logo_right {
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.featured_game_points_left, .featured_game_points_right {
  font-size: 3rem;
  margin: 10px;
}

.featured_game_line_1, 
.featured_game_line_2, 
.featured_game_line_3 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.featured_game_away_team {
  text-align: right;
  margin-right: 10px;
  width: 42%;
}

.featured_game_home_team {
  text-align: left;
  margin-left: 10px;
  width: 42%;
}

.featured_game_line_1, .featured_game_line_3 {
  display: flex;
  justify-self: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.head-row {
  width: 100%;
  font-size: 4rem;
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiDataGrid-row.Mui-odd {
  background-color: aliceblue;
}

.MuiDataGrid-row.Mui-even {
  background-color: white;
}

.MuiDataGrid-row.Mui-odd:hover, 
.MuiDataGrid-row.Mui-even:hover,
.MuiDataGrid-row.Mui-odd.Mui-selected,
.MuiDataGrid-row.Mui-even.Mui-selected {
  color: white;
}